.menu-principal {
    width: 100%;
    float: left;
    background-color: #0F00FF;
    position: relative;
}
.logo {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 40px;
}
.menu-2 {
    text-align: right;
    float: right;
    width: 10%;
    padding-right: 10px;
}
.menu-2 a {
    text-decoration: none;
    color: white;
    float: left;
    padding-right: 10px;
    text-align: right;
    font-size: 18px;
    margin-top: 3em;
}
.col-100 {
   margin-top: 4em;
   width: 100%;
   float: left;
   height: 400px;
}
.col-3 {
    width: 25%;
    float: left;
    height: 400px;
    padding-left: 80px;
    margin-top: 3em;
    text-align: center;
}
.col-3 a{
    text-align: center;
    float: left;
}
.footer {
    text-align: center;
    margin-top: 1em;
}
